# BASIC MODELLING FOR UNITED STATES

In [53]:
#import required libary
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [54]:
#read the latest dataset regarding coronavirus
df = pd.read_csv('KaggleVirus.csv')

### Here in the given dataset we are provided with various columns like "Confirmed", "Suspected", "Recovered", "Deaths", "Demised":

1. But here we are having most of the columns other than Confirmed all are having maximum Zero so it doesn't make any sense by keep them so I dropped all these columns with null.

In [55]:
df.head()

   Sno Province/State Country      Last Update  Confirmed  Deaths  Recovered
0    1          Anhui   China  1/22/2020 12:00        1.0     0.0        0.0
1    2        Beijing   China  1/22/2020 12:00       14.0     0.0        0.0
2    3      Chongqing   China  1/22/2020 12:00        6.0     0.0        0.0
3    4         Fujian   China  1/22/2020 12:00        1.0     0.0        0.0
4    5          Gansu   China  1/22/2020 12:00        0.0     0.0        0.0

In [56]:
df_US=df[df["Country"]=='US']
df_US

,Sno,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
31,32,Washington,US,1/22/2020 12:00,1.0,0.0,0.0
69,70,Washington,US,1/23/20 12:00 PM,1.0,0.0,0.0
116,117,Washington,US,1/24/2020 12:00 PM,1.0,0.0,0.0
117,118,Chicago,US,1/24/2020 12:00 PM,1.0,0.0,0.0
157,158,Washington,US,1/25/2020 12:00 PM,1.0,0.0,0.0
158,159,Illinois,US,1/25/2020 12:00 PM,1.0,0.0,0.0
201,202,Washington,US,1/26/2020 23:00,1.0,0.0,0.0
202,203,Illinois,US,1/26/2020 23:00,1.0,0.0,0.0
203,204,California,US,1/26/2020 23:00,2.0,0.0,0.0
204,205,Arizona,US,1/26/2020 23:00,1.0,0.0,0.0
248,249,Washington,US,1/27/2020 20:30,1.0,0.0,0.0
249,250,Illinois,US,1/27/2020 20:30,1.0,0.0,0.0
250,251,California,US,1/27/2020 20:30,2.0,0.0,0.0
251,252,Arizona,US,1/27/2020 20:30,1.0,0.0,0.0
300,301,Washington,US,1/28/2020 18:00,1.0,0.0,0.0
301,302,Illinois,US,1/28/2020 23:00,1.0,0.0,0.0
302,303,California,US,1/28/2020 23:00,2.0,0.0,0.0
303,304,Arizona,US,1/28/2020 23:00,1.0,0.0,0.0
353,354,Washington,US,1/29/2020 21:00,1.0,0.0,0.0
354,355,Illinois,US,1/29/2020 21:00,1.0,0.0,0.0
355,356,California,US,1/29/2020 21:00,2.0,0.0,0.0
356,357,Arizona,US,1/29/2020 21:00,1.0,0.0,0.0
409,410,Washington,US,1/30/2020 21:30,1.0,0.0,0.0
410,411,Illinois,US,1/30/2020 21:30,2.0,0.0,0.0
411,412,California,US,1/30/2020 21:30,2.0,0.0,0.0
412,413,Arizona,US,1/30/2020 21:30,1.0,0.0,0.0
468,469,Washington,US,1/31/2020 19:00,1.0,0.0,0.0
469,470,Illinois,US,1/31/2020 19:00,2.0,0.0,0.0
470,471,California,US,1/31/2020 19:00,3.0,0.0,0.0
471,472,Arizona,US,1/31/2020 19:00,1.0,0.0,0.0

In [57]:
df_US["Last Update"]=df_US["Last Update"].str[:10]
df_US["Last Update"]=pd.to_datetime(df_US["Last Update"])

/Users/vijender/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/vijender/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [58]:
df_US = df_US.groupby("Last Update").sum().reset_index()
df_US

          Last Update   Sno  Confirmed  Deaths  Recovered
0 2020-01-22 00:00:00    32        1.0     0.0        0.0
1 2020-01-23 12:00:00    70        1.0     0.0        0.0
2 2020-01-24 00:00:00   235        2.0     0.0        0.0
3 2020-01-25 00:00:00   317        2.0     0.0        0.0
4 2020-01-26 00:00:00   814        5.0     0.0        0.0
5 2020-01-27 00:00:00  1002        5.0     0.0        0.0
6 2020-01-28 00:00:00  1210        5.0     0.0        0.0
7 2020-01-29 00:00:00  1422        5.0     0.0        0.0
8 2020-01-30 00:00:00  1646        6.0     0.0        0.0
9 2020-01-31 00:00:00  1882        7.0     0.0        0.0

In [59]:
df_US["Country Name"]="United States"
df_US.drop("Sno",inplace=True,axis=1)

In [60]:
df_US.head()

          Last Update  Confirmed  Deaths  Recovered   Country Name
0 2020-01-22 00:00:00        1.0     0.0        0.0  United States
1 2020-01-23 12:00:00        1.0     0.0        0.0  United States
2 2020-01-24 00:00:00        2.0     0.0        0.0  United States
3 2020-01-25 00:00:00        2.0     0.0        0.0  United States
4 2020-01-26 00:00:00        5.0     0.0        0.0  United States

### Let's include some external dataset

1. Countrywise Morality rate 
2. Countrywise Population density 
3. Countrywise Population
4. Transmission Rate we are using the same as we used for china.

In [61]:
health_rate=pd.read_csv("healthrating.csv")[["Country Name","2016"]]
population=pd.read_csv("population.csv")[["Country Name","2018"]]
population_density=pd.read_csv("country_density.csv")[["Country Name","2018"]]

In [62]:
df_US = pd.merge(df_US, health_rate, how='left', on='Country Name')
df_US = pd.merge(df_US, population, how='left', on='Country Name')
df_US.rename(columns = {"2016":"Morality rate","2018":"population"},inplace=True)
df_US = pd.merge(df_US, population_density, how='left', on='Country Name')
df_US.rename(columns = {"2018":"population_density"},inplace=True)
df_US["Tansmission_rate"]=2.68/df_US["Morality rate"]
df_US.drop("Morality rate",inplace=True,axis=1)

In [64]:
df_US["Last Update"]=df_US["Last Update"]+ pd.DateOffset(1)

In [65]:
df_US.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 8 columns):
Last Update           10 non-null datetime64[ns]
Confirmed             10 non-null float64
Deaths                10 non-null float64
Recovered             10 non-null float64
Country Name          10 non-null object
population            10 non-null float64
population_density    10 non-null float64
Tansmission_rate      10 non-null float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 720.0+ bytes

In [66]:
df_US

,Last Update,Confirmed,Deaths,Recovered,Country Name,population,population_density,Tansmission_rate
0,2020-01-23 00:00:00,1.0,0.0,0.0,United States,327167434.0,35.766089,13.4
1,2020-01-24 12:00:00,1.0,0.0,0.0,United States,327167434.0,35.766089,13.4
2,2020-01-25 00:00:00,2.0,0.0,0.0,United States,327167434.0,35.766089,13.4
3,2020-01-26 00:00:00,2.0,0.0,0.0,United States,327167434.0,35.766089,13.4
4,2020-01-27 00:00:00,5.0,0.0,0.0,United States,327167434.0,35.766089,13.4
5,2020-01-28 00:00:00,5.0,0.0,0.0,United States,327167434.0,35.766089,13.4
6,2020-01-29 00:00:00,5.0,0.0,0.0,United States,327167434.0,35.766089,13.4
7,2020-01-30 00:00:00,5.0,0.0,0.0,United States,327167434.0,35.766089,13.4
8,2020-01-31 00:00:00,6.0,0.0,0.0,United States,327167434.0,35.766089,13.4
9,2020-02-01 00:00:00,7.0,0.0,0.0,United States,327167434.0,35.766089,13.4

In [67]:
df_US.rename(columns = {"Confirmed":"y","Last Update":"ds"},inplace=True)

In [68]:
def cal_US(df):
    test=df.tail(2)
    df=df.head(8)
    from fbprophet import Prophet
    m = Prophet()
    m.fit(df)
    test.drop("y",inplace=True,axis=1)
    forecast = m.predict(test)
    #forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()
    print(forecast["yhat"])

In [69]:
cal_US(df_US)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations.Using 5.
/Users/vijender/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0    6.370043
1    7.045610
Name: yhat, dtype: float64

So, The results are as follows:

1. For 31th Jan --- 6 Confirmed Cases
2. For 1st Feb --- 7 Confirmed Cases

These are the finally Results For US